.form-content {
	padding-left: 2vw;
	padding-right: 2vw;
	display: inline-block;
}

#bgd{ 
			background-image: url(./img/bgd.jpg) ;
			background-position: center center;
			background-repeat:  no-repeat;
			background-attachment: fixed;
			background-size:  cover;
			background-color: #999;
  
}