.form-content, .mktg-content {
	padding-left: 2vw;
	padding-right: 2vw;
	display: inline-block;
}

#bgd{ 
			background-image: url(../img/bgd-1600x900.jpg) ;
			background-position: center center;
			background-repeat:  no-repeat;
			background-attachment: fixed;
			background-size:  cover;
			
  
}

#logo{ 
			
			
			background-image:  url('../img/ibm-logo.svg');
			
    		background-repeat: no-repeat;
    		background-position: center; 
    		background-size: 89px 35px;
			
			
  
}

.duo-blue {
background-color: #0064ff;
}

.ibm-btn-blue-50.ibm-btn-pri {
background: #0064ff;
    border-color: #0064ff;


}